:root {
  /* 头部区域高度 */
  --header-height: 50px;
}

/* 头部区域高度*/
.header-height {
  height: var(--header-height);
}

/* 内容区域高度 */
.content-height {
  height: calc(100% - var(--header-height));
}

.ant-menu-horizontal {
  border-bottom: none;
}
